__history/
__recovery/
__pycache__/
*.pyc
*.dcu
*.~ddp
*.~dfm
*.~pas
*.~DF
*.~PA
*.ddp
*.~dti
*.exe
*.dll
*.~DPR
*.~bpl
*.~dpk
*.local
*.identcache
*.vlb
*.stat
*.tvsconfig
*.skincfg
*.log
*.res
*.rsm
*.lib
*.rar
ConsumoApiAgilleControl/Win32
Tributos/
*.bat
